<%= form_for(@property, html: {class: "form-horizontal"}) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :unit_no, class: "col-md-3" %>
    <div class="col-md-7">
      <%= f.number_field :unit_no, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :street_no, class: "col-md-3" %>
    <div class="col-md-7">
      <%= f.number_field :street_no, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :street, class: "col-md-3" %>
    <div class="col-md-7">
      <%= f.text_field :street, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :post_code, class: "col-md-3" %>
    <div class="col-md-7">
      <%= f.number_field :post_code, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :city, class: "col-md-3" %>
    <div class="col-md-7">
      <%= f.text_field :city, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :country, class: "col-md-3" %>
    <div class="col-md-7">
      <%= f.text_field :country, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :property_type, class: "col-md-3" %>
    <div class="col-md-7">
      <%= f.select( :property_type, Property::PROPERTY_TYPE.map{|i| [i,i]}, {}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :no_of_beds, class: "col-md-3" %>
    <div class="col-md-7">
      <%= f.number_field :no_of_beds, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :no_of_baths, class: "col-md-3" %>
    <div class="col-md-7">
      <%= f.number_field :no_of_baths, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :no_of_carspaces, class: "col-md-3" %>
    <div class="col-md-7">
      <%= f.number_field :no_of_carspaces, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :purchase_date, class: "col-md-3" %>
    <div class="col-md-7">
      <%= f.date_field :purchase_date, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-7 col-md-push-3">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to 'Back', properties_path, class: "btn btn-secondary"  %>
    </div> <!-- /.col -->
  </div> <!-- /.form-group -->
<% end %>
