<header class="navbar navbar-inverse" role="banner">

  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-cog"></i>
      </button>
      <a href="<%= root_path %>" class="navbar-brand navbar-brand-img">
        <%= image_tag "pig_sml.png" %>
      </a>
    </div> <!-- /.navbar-header -->


    <nav class="collapse navbar-collapse" role="navigation">

      <ul class="nav navbar-nav noticebar navbar-left">
        <%= render 'layouts/internal_navigation_links' %>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            Properties&nbsp;
            <i class="fa fa-caret-down"></i>
          </a>

          <ul class="dropdown-menu" role="menu">

            <li>
              <a href="<%= properties_path %>">
                <i class="fa fa-list"></i>
                &nbsp;&nbsp;List View
              </a>
            </li>

            <li class="divider"></li>

            <li>
              <a href="<%= maps_path %>">
                <i class="fa fa-globe"></i>
                &nbsp;&nbsp;Map View
              </a>
            </li>
          </ul>
        </li>

        <li>
          <%= link_to 'About', page_path('about') %>
        </li>

        <li>
          <%= link_to 'FAQ', page_path('faq') %>
        </li>

        <li class="dropdown navbar-profile">
          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            <%= image_tag "admin/avatars/avatar-1-xs.jpg", :class => "navbar-profile-avatar" %>
            <span class="navbar-profile-label">kobie@gmail.com &nbsp;</span>
            <i class="fa fa-caret-down"></i>
          </a>

          <ul class="dropdown-menu" role="menu">

            <li>
              <a href="#">
                <i class="fa fa-user"></i>
                &nbsp;&nbsp;My Profile
              </a>
            </li>

            <li class="divider"></li>

            <li>
              <a href="#">
                <i class="fa fa-sign-out"></i>
                &nbsp;&nbsp;Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div> <!-- /.container -->

</header>

<div class="mainnav">

<div class="container">


</div> <!-- /.container -->

</div> <!-- /.mainnav -->
